body {
    min-width: 960px;
    font-family: "Cuprum", "PTSans", sans-serif;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "\1f50d"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */


.top-navigator-line {
    height: 42px;
    background-color: #293449;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    
}

.clearfix::after {
    content: "";
    
    display: table;
    clear: both;
}


/*ШАПКА*/

.top-navigation {
    height: : 42px;
}

.logo {
    display: block;
    width: 166px;
    height: 34px;
    margin-top: 0px;
    padding-top: 8px;
    padding-left: 54px;
    border-bottom: 5px solid #b52933;
    font-size: 24px;
    float: left;
    color: #ffffff;
    background-color: #ee3643;
}

.search {
    display: block;
    float: left;
    margin-left: 48px;
    margin-top: 5px;
    padding: 6px;
    width: 200px;
    border-style: none;
    background-color: #293449;
    border-color: #293449;
    font-size: 17px;
    color: #ffffff;
}

.search-container {
    position: relative;
}

.search-container::before {
    font-family: "symbols-technomart";
    position: absolute;
    content: "\1f50d";
    top: 12px;
    left: 240px;
    width: 17px;
    height: 17px;
    font-size: 17px;
    color: #81868f;
}

.top-navigation-menu {
    position: relative;
    float: right;
    width: 460px;
    height: 42px;
}

.top-navigation-menu a {
    display: inline-block;
    float: right;
    height: 33px;
    padding-top: 9px;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}

.top-navigation-menu .cart-catalog {
    display: inline-block;
    float: right;
    height: 33px;
    padding-top: 9px;
    font-size: 17px;
    background-color: #ee3643;
    color: #ffffff;
    text-decoration: none;
}

.top-navigation-menu .cart-catalog:hover {
    background-color: #ee3643;
}

.top-navigation-menu a:hover {
    background-color: #212a3a;
}

.top-navigation-menu a:active {
    background-color: #161d29;
    opacity: 0.5;
}

.top-navigation-menu a:nth-child(1) {
    height: 33px;
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 9px;
    font-size: 17px;
    color: #ffffff;
    background-color: #63a63e;
    text-decoration: none;
}

.top-navigation-menu a:hover:nth-child(1) {
    background-color: #5fbb2d;
}

.top-navigation-menu a:active:nth-child(1) {
    background-color: #518534;
    opacity: 0.5;
}

.top-navigation-menu a:nth-child(2) {
    padding-left: 59px;
    padding-right: 30px;
}

.top-navigation-menu a:nth-child(3) {
    padding-left: 52px;
    padding-right: 20px;
}

.favourites::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-favourites.png") no-repeat;
    background-position: 0px 5px;
    opacity: 0.3;
}

.favourites:hover::before {
    opacity: 1;
}

.favourites:active::before {
    opacity: 0.5;
}

.cart::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 180px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-cart.png") no-repeat;
    background-position: 0px 5px;
    opacity: 0.3;
}

.cart-catalog::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 180px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-cart.png") no-repeat;
    background-position: 0px 5px;
    opacity: 0.3;

}

.cart-catalog:hover::before {
    opacity: 1;
}

.cart:hover::before {
    opacity: 1;
}

.cart:active::before {
    opacity: 0.5;
}

.second-header {
    height: 277px;
    background-color: #f1f5f7;
}

.main-info {
    float: left;
    padding: 0;
    margin-top: -25px;
    width: 612px;
    height: 122px;
    display: table;
    clear: both;
}

.main-left-info {
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    width: 202px;
    height: 68px;
    font-size: 16px;
    font-style: italic;
    color: #ee3643;
}

.main-right-info-address {
    display: block;
    float: left;
    margin-top: 45px;
    margin-left: 68px;
    width: 290px;
    height: 70px;
}

.number {
    display: block;
    float: left;
    position: relative;
    padding-left: 66px;
    padding-top: 7px;
    width: 198px;
    height: 30px;
    color: #e9292a;
    font-size: 21px;
    font-style: normal;
    border: 4px solid #ffffff;
}

.number::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-phone.png") no-repeat;
    opacity: 1;
}

.address {
    display: block;
    float: left;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 5px;
    margin-left: 13px;
    width: 253px;
    height: 15px;
    font-size: 14px;
    color: #32425c;
    font-style: normal;
}

.user-block {
    float: right;
    margin-top: 20px;
    width: 300px;
    height: 52px;
}

.user-block a {
    display: block;
    position: relative;
    float: right;
    margin-left: 7px;
    text-decoration: none;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-block a:hover {
    color: #ee3643;
}

.user-block a:active {
    color: #000000;
    opacity: 0.3;
}

.registration {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 14px;
}

.login {
    padding-left: 45px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 14px;
}

.login::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-login.png") no-repeat;
}

.login:hover::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-login-hover.png") no-repeat;
}

.login:active::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-login-active.png") no-repeat;
}

.main-navigation {
    float: left;
    width: 940px;
    height: 60px;
    margin-top: 42px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    margin-left: 2px;
}

.main-navigation li {
    display: inline-block;
}

.main-navigation a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 34px;
    padding-right: 33px;
    color: #ffffff;
    font-family: "Cuprum";
    text-decoration: none;
    background-color: #32425c;
    font-size: 17px;
    border-bottom: 5px solid #293449;
}

.main-navigation a:hover {
    background: #293449;
}

.main-navigation a:active {
    background: #1d2739;
}


/*МАТЕРИАЛЫ*/

.materials {
    width: 941px;
    margin-top: 56px;
}

.materials ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.materials li {
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 20px;
    padding-left: 22px;
    margin-left: 20px;
    width: 278px;
    height: 102px;
    color: #ffffff;
    font-size: 24px;
}

.materials a {
    display: block;
    width: 112px;
    margin-top: 14px;
    margin-left: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 23px;
    text-decoration: none;
    background-color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    opacity: 0.4;
}

.materials a:hover {
    opacity: 0.6;
}

.materials a:active {
    color: black;
    opacity: 0.8;
}

.materials li:nth-child(1) {
    margin-left: 0;
    background-color: #f6b22d;
}

.materials li:nth-child(2) {
    background-color: #4aafde;
}

.materials li:nth-child(3) {
    background-color: #cc79d1;
}

.materials li:nth-child(4) {
    margin-left: 0;
    margin-top: 20px;
    width: 598px;
    height: 244px;
    background-color: #ee3643;
}

.materials li:nth-child(5) {
    margin-top: 20px;
    background-color: #85d179;
}

.materials li:nth-child(6) {
    margin-top: 20px;
    background-color: #f6b22d;
}

.material-1::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 42px;
    width: 48px;
    height: 68px;
    background: transparent url("../img/icons/icon-material-1.png") no-repeat;
}

.material-2::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 27px;
    width: 78px;
    height: 64px;
    background: transparent url("../img/icons/icon-material-2.png") no-repeat;
}

.material-3::before {
    content: "";
    position: absolute;
    top: 27px;
    right: 30px;
    width: 78px;
    height: 64px;
    background: transparent url("../img/icons/icon-material-3.png") no-repeat;
}

.material-5::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 44px;
    width: 62px;
    height: 72px;
    background: transparent url("../img/icons/icon-material-5.png") no-repeat;
}

.material-6::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 30px;
    width: 80px;
    height: 66px;
    background: transparent url("../img/icons/icon-material-6.png") no-repeat;
}


/*ПОПУЛЯРНЫЕ ТОВАРЫ*/

.popular-goods-line {
    position: relative;
    height: 90px;
    width: 940px;
    margin-top: 53px;
    background-color: #f7f3ec;
}

.popular-goods-line a {
    display: block;
    position: absolute;
    top: 25px;
    right: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 54px;
    padding-left: 54px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #ee3643;
    color: #ffffff;
    text-decoration: none;
}

.popular-goods-line a:hover {
    background-color: #ca2c37;
}

.popular-goods-line a:active {
    background-color: #ba2732;
}

.popular-goods-line h3 {
    display: block;
    position: absolute;
    top: 28px;
    left: 30px;
    margin: 0;
    font-size: 30px;
    color: #32425c;
}

.pop-goods-item {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 600;
    position: relative;
    width: 218px;
    text-align: center;
    border: 1px solid #ccc;
}

.pop-goods-item:hover {
    box-shadow: 0 10px 20px rgba(41,52,73,0.5);
    transition: 0.3s;
}

.pop-goods-item:nth-child(1) {
    margin-left: 0;
}

.new:before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background: url("../img/icons/icon-new.png") no-repeat 0 0;
}

.pop-goods-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff; 
}

.actions .buy,
.actions .bookmark {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.actions .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.buy::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: transparent url('../img/icons/icon-cart.png') no-repeat;
    opacity: 0.3;
}

.buy:hover::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: transparent url('../img/icons/icon-cart.png') no-repeat;
    opacity: 1;
}


.buy:hover {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    box-shadow: none;
}

.bookmark:hover {
    border-color: #32425c;
    color: #32425c;
}

.bookmark:active {
    border-color: #32425c;
    color: #32425c;
    opacity: 0.3;
}

.actions a {
    position: relative;
}

.pop-goods-item .actions {
  display: none;
}

.pop-goods-item:hover .actions {
  display: block;
}

.pop-goods-item-image {
    width: 218px;
    height: 168px;
    overflow: hidden;
}

.pop-goods-item-image img {
    max-width: 100%;
}

.pop-goods-item .title {
    font-size: 18px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-style: "PTSans";
}

.pop-goods-item .discount {
    min-height: 20px;
    margin-bottom: 10px;
    text-decoration: line-through;
    color: #999;
}

.pop-goods-item .price {
    position: relative;
    width: 80px;
    border-radius: 3px;
    margin: 0 auto 20px;
    padding: 11px 30px;
    color: #fff;
    background: #ee3643;
}

.pop-goods-item .price::after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 20px solid #fff;
    border-left-color: #ee3643;
}

/*ПОПУЛЯРНЫЕ БРЭНДЫ*/


.popular-brands-line {
    position: relative;
    height: 88px;
    margin-top: 20px;
    background-color: #f7f3ec;
}

.popular-brands-header {
    display: block;
    position: absolute;
    left: 25px;
    top: -2px;
    font-size: 30px;
    color: #32425c;
}

.popular-brands-all {
    display: block;
    float: right;
    margin-top: 22px;
    margin-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #ee3643;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 2px;
}

.popular-brands-all:hover {
    background-color: #ca2c37;
}

.popular-brands-all:active {
    background-color: #ba2732;
}

.popular-brands-container {
    width: 940px;
    margin-top: 20px;
}

.brands {
    position: relative;
    float: left;
    width: 218px;
    height: 143px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
}

.brands:hover {
    box-shadow: 0 10px 25px rgba(41,52,73,0.5);
    transition: 0.3s;
}

.brands:active {
    box-shadow: 0 4px 10px rgba(41,52,73,0.5);
}

.brands:nth-child(1) {
    margin-top: 0;
    margin-left: 0;
}

.brands:nth-child(2),
.brands:nth-child(3),
.brands:nth-child(4) {
    margin-top: 0;
}

.brands:nth-child(5) {
    margin-left: 0;
}

.popular-brands-container img:nth-child(6) {
    margin-top: 54px;
}

.services-and-delivery {
    margin-top: 85px;
    background-color: #f2f6f8;
}

.services-delivery-block {
    position: relative;
    border: 1px solid #f2f6f8;
}

.services {
    position: absolute;
    top: 65px;
    width: 385px;
}

.services h4 {
    margin: 0;
    color: #32425c;
    font-size: 30px;
}

.services p {
    margin-top: 25px;
    line-height: 25px;
    font-size: 14px;
}

.services-and-delivery-menu {
    margin-top: 234px;
}

.services-and-delivery-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-and-delivery-menu li {
    display: block;
    
}

.services-and-delivery-menu a {
    display: block;
    width: 58px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 138px;
    padding-left: 22px;
    background-color: #32425c;
    color: #ffffff;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    text-decoration: none;
}

.services-and-delivery-menu a:hover {
    background-color: #293449;
    color: #ffffff;
    border-top: 1px solid #293449;
    border-bottom: 1px solid #293449;
    transition: 0.4s;
}

.delivery-info {
    position: absolute;
    top: 237px;
    left: 321px;
    width: 268px;
}

.delivery-info h4 {
    margin: 0;
    font-size: 30px;
    color: #32425c;
}

.delivery-info p {
    margin-top: 25px;
    line-height: 25px;
    font-size: 14px;
}

.img-delivery {
    width: 475px;
    margin-left: 430px;
    margin-top: -165px;
    
}

.company-contacts {
    position: relative;
}

.company-tehnomart {
    line-height: 24px;
    width: 530px;
    font-size: 13px;
}

.company-tehnomart-header {
    position: relative;
    display: block;
    font-size: 30px;
    margin-top: 50px;
}

.company-tehnomart ul {
    list-style: none;
}

.company-tehnomart li {
    display: block;
    padding: 12px 12px;
    font-size: 18px;
}

.about-company {
    display: block;
    margin-top: 25px;
    width: 160px;
    padding: 13px 40px;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    background-color: #ee3643;
}

.about-company:hover {
    background-color: #ca2c37;
}

.about-company:active {
    background-color: #ba2732;
}

.contacts {
    position: absolute;
    content: '';
    top: 8px;
    right: 0px;
    width: 315px;
    line-height: 24px;
    font-size: 13px;
}

.contacts-header {
    display: block;
    font-size: 30px;
    margin-top: 0px;
}

.write-to-us {
    display: block;
    float: right;
    margin-top: -42px;
    margin-bottom: 20px;
    margin-right: 12px;
    width: 203px;
    padding: 13px 49px;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    background-color: #ee3643;
}

.write-to-us:hover {
    background-color: #ca2c37;
}

.write-to-us:active {
    background-color: #ba2732;
}

.dash1 {
    position: absolute;
    top: 198px;
    left: 13px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.dash2 {
    position: absolute;
    top: 246px;
    left: 13px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.dash3 {
    position: absolute;
    top: 294px;
    left: 13px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.map {
    display: none;
}

.first-footer {
    margin-top: 57px;
    background-color: #32425c;
}

.first-footer-nav-one ul {
    list-style: none;
    float: right;
}

.first-footer-nav-one li {
    display: inline-block;
    padding-left: 60px;
}

.first-footer-nav-one a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #f1f5f7;
}

.first-footer-nav-one a:hover {
    text-decoration: underline;
}

.first-footer-nav-one a:active {
    opacity: 0.5;
    text-decoration: none;
}

.first-footer-nav-two ul {
    list-style: none;
    float: right;
}

.first-footer-nav-two li {
    display: inline-block;
    padding-left: 60px;
}

.first-footer-nav-two a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #ffd180;
}

.first-footer-nav-two a:hover {
    text-decoration: underline;
}

.first-footer-nav-two a:active {
    opacity: 0.5;
    text-decoration: none;
}

.first-footer-info {
    float: left;
    width: 330px;
    height: 50px;
    color: #f1f5f7;
    font-size: 18px;
    margin-top: -35px;
    margin-bottom: 50px;
}

.second-footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #293449;
}

.copyright {
    float: left;
    width: 230px;
    height: 40px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.social {
    float: left;
    width: 150px;
    margin-left: 140px;
}

.social a {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 5px;
    width: 43px;
    height: 43px;
}

.social-btn-vk::before {
    position: absolute;
    content: '';
    top: 0px;
    width: 43px;
    height: 43px;
    background: transparent url('../img/icons/icon-vk.png') no-repeat;
}

.social-btn-vk:hover::before {
    position: absolute;
    content: '';
    top: 0px;
    width: 43px;
    height: 43px;
    background: transparent url('../img/icons/icon-vk-h-a.png') no-repeat;
}

.social-btn-fb::before {
    position: absolute;
    content: '';
    top: 0px;
    width: 43px;
    height: 43px;
    background: transparent url('../img/icons/icon-fb.png') no-repeat;
}

.social-btn-fb:hover::before {
    position: absolute;
    content: '';
    top: 0px;
    width: 43px;
    height: 43px;
    background: transparent url('../img/icons/icon-fb-h-a.png') no-repeat;
}

.social-btn-inst::before {
    position: absolute;
    content: '';
    top: 0px;
    width: 43px;
    height: 43px;
    background: transparent url('../img/icons/icon-inst.png') no-repeat;
}

.social-btn-inst:hover::before {
    position: absolute;
    content: '';
    top: 0px;
    width: 43px;
    height: 43px;
    background: transparent url('../img/icons/icon-inst-h-a.png') no-repeat;
}

.feedback {
    float: left;
    width: 150px;
    margin-left: 110px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.feedback a {
    text-decoration: none;
    color: #ffd180;
    font-weight: bold;
}

.feedback a:hover {
    text-decoration: underline;
}

.feedback a:active {
    text-decoration: none;
    color: #ee3643;
}

.designed {
    float: left;
    width: 110px;
    margin-left: 42px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.designed a {
    text-decoration: none;
    color: #ffd180;
    font-weight: bold;
}

.designed a:hover {
    text-decoration: underline;
}

.designed a:active {
    text-decoration: none;
    color: #ee3643;
}






/*    catalog    */


.cart-catalog {

}

.user-block-catalog {
    float: right;
    margin-top: 21px;
}

.user {
    display: block;
    position: relative;
    padding-left: 47px;
    padding-right: 69px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user:active {
    opacity: 0.3;
}

.user::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 14px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-user.png") no-repeat;
}

.user:hover::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 14px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-user-hover.png") no-repeat;
}

.user:active::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 14px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-user.png") no-repeat;
    opacity: 1;
}

.user::after {
    position: absolute;
    content: '';
    top: 17px;
    right: 16px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-login.png") no-repeat;
}

.user:hover::after {
    position: absolute;
    content: '';
    top: 17px;
    right: 16px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-login-hover.png") no-repeat;
}

.user:active::after {
    position: absolute;
    content: '';
    top: 17px;
    right: 16px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/icon-login.png") no-repeat;
    opacity: 1;
}

.my-orders {
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 17px;
    padding-right: 16px;
    color: #32425c;
    font-size: 16px;
}

.my-orders:hover {
    color: #ee3643;
}

.my-orders:active {
    color: #32425c;
    opacity: 0.3;
}

.point {
    float: left;
    margin-top: 17px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: #32425c;
}

.personal-cabinet {
    display: block;
    float: left;
    padding-left: 16px;
    padding-top: 10px;
    color: #32425c;
    font-size: 16px;
}

.personal-cabinet:hover {
    color: #ee3643;
}

.personal-cabinet:active {
    color: #32425c;
    opacity: 0.3;
}

.breadcrumbs-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.breadcrumbs-container ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs-container li {
    float: left;
    display: block;
    padding-left: 18px;
    padding-right: 16px;
}

.breadcrumbs-icon {
    float: left;
    padding-right: 14px;
}

.breadcrumbs-bracket {
    float: left;
}

.product-header {
    background-color: #f2f6f8;
    width: auto;
}

.product-header h1 {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 30px;
    color: #32425c;
    font-size: 30px;
}

.filter-container{
    float: left;
    width: 222px;
}

.filter {
    border-radius: 3px;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 19px;
    color: #000000;
    font-size: 13px;
    background-color: #f7f3ec;
}

.filter-header-price {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}

.scale-container {
    position: relative;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.scale-container .scale {
    height: 2px;
    background-color: #d7dcde;
}

.scale-container .bar {
    width: 80%;
    height: 2px;
    background-color: #00ca74;
}

.scale-container .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.scale-container .toggle-min {
    left: 20px;
}

.scale-container .toggle-max {
    left: 145px;
}

.price-controls {
    position: relative;
    font-size: 0;
}

.price-controls label {
    font-size: 17px;
    display: inline-block;
    width: 50%;
}

.price-controls input {
    font-family: 'Cuprum';
    font-size: 17px;
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    width: 95px;
    border-radius: 5px;
    outline: none;
    background: #f7f3ec;
    text-align: center;
    color: #283136;
}

.price-dash {
    position: absolute;
    content: '';
    top: 32px;
    left: 106px;
    width: 10px;
    height: 1px;
    background-color: #444444;
}

.filter-header-producers {
    margin-top: 17px;
    margin-bottom: 6px;
}

.ch {
    display: none;
}

.ch + label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    line-height: 20px;
    font-size: 15px;
}

.ch + label::before {
    font-family: "symbols-technomart";
    content: "\2610";
    position: absolute;
    top: 9px;
    left: 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #c1c1c1;
}

.ch + label:hover::before {
    font-family: "symbols-technomart";
    content: "\2610";
    position: absolute;
    top: 9px;
    left: 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #b5b5b5;
}

.ch + label:active::before {
    font-family: "symbols-technomart";
    content: "\2610";
    position: absolute;
    top: 9px;
    left: 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #b5b5b5;
    opacity: 0.3;
}

.ch:checked + label::before {
    font-family: "symbols-technomart";
    content: "\2611";
}

.filter-header-power {
    margin-bottom: 7px;
}

.rd {
    display: none;
}

.rd + label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    line-height: 20px;
    font-size: 14px;
}

.rd + label::before {
    font-family: "symbols-technomart";
    content: "\25cb";
    position: absolute;
    top: 9px;
    left: 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #c1c1c1;
}

.rd + label:hover::before {
    font-family: "symbols-technomart";
    content: "\25cb";
    position: absolute;
    top: 9px;
    left: 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #b5b5b5;
}

.rd + label:active::before {
    font-family: "symbols-technomart";
    content: "\25cf";
    position: absolute;
    top: 9px;
    left: 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #b5b5b5;
    opacity: 0.3;
}

.rd:checked + label::before {
    font-family: "symbols-technomart";
    content: "\25cf";
}

.show-btn {
    margin-top: 80px;
    padding: 13px 37px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;;
    background-color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.show-btn:hover {
    border-color: #bdc6ca;
}

.sorting-line {
    float: left;
    margin-left: 18px;
    width: 700px;
    border-radius: 3px;
    background-color: #f7f3ec;
}

.sorting-header {
    float: left;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 19px;
    font-size: 13px;
    line-height: 18px;
}

.sorting-line ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

.sorting-line li {
    display: inline-block;
    margin-top: 13px;
    margin-left: 170px;
}

.sorting-line li:nth-child(2) {
    margin-left: 90px;
}

.sorting-line li:nth-child(3) {
    margin-left: 65px;
}

.sorting a {
    font-size: 13px;
    line-height: 18px;
    color: #cbc8c2;
    text-decoration: none;
    border-bottom: 1px dotted #ee3643;
}

.sorting a:hover {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.sort-active a {
    color: #ee3643;
    border-bottom: none;
}

.up-down-dir {
    float: right;
    margin-top: -18px;
    width: 60px;
}

.up-down-dir a {
    display: block;
    text-decoration: none;
    border: none;
}

.up-dir {
    float: left;
    line-height: 20px;
}

.up-dir a::before {
    font-family: "symbols-technomart";
    content: "\25b2";
    font-size: 23px;
    color: #c6c2bd;
}

.up-dir a:hover::before {
    font-family: "symbols-technomart";
    content: "\25b2";
    font-size: 23px;
    color: #000000;
}

.down-dir {
    float: left;
    line-height: 20px;
    margin-left: 20px;
    text-decoration: none;
    border-bottom: none;
}

.down-dir a:before {
    font-family: "symbols-technomart";
    content: "\25bc";
    font-size: 23px;
    color: #c6c2bd;
}

.down-dir a:hover:before {
    font-family: "symbols-technomart";
    content: "\25bc";
    font-size: 23px;
    color: #000000;
}

.up-dir-active a::before {
    font-family: "symbols-technomart";
    content: "\25b2";
    font-size: 23px;
    color: #ee3643;
}

.down-dir-active a::before {
    font-family: "symbols-technomart";
    content: "\25bc";
    font-size: 23px;
    color: #ee3643;
}

.content {
    float: left;
    width: 700px;
    margin-left: 16px;
}


.indent {
    margin-left: 0;
    margin-top: 20px;
}

.pages {
    float: left;
    margin-top: 52px;
}

.pages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pages li {
    display: inline-block;
}

.pages a {
    display: block;
    float: left;
    text-decoration: none;
    padding: 12px 20px;
    margin-left: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffff;
}

.pages li:first-child a {
    margin-left: 0;
}

.pages li:last-child a {
    padding: 12px 31px;
}

.pages a:hover {
    border-color: #bdc6ca;
}

.pages a:active {
    border-color: #ee3643;
}

.page-active a {
    color: #fef5f6;
    background-color: #ee3643;
    border-radius: 3px;
}

.about-goods {
    margin-top: 60px;
    margin-bottom: -63px;
    background-color: #f2f6f8;
    border: 1px solid #f2f6f8;
}

.about-goods h5 {
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 65px;
    margin-bottom: 36px;
}

.about-goods p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 62px;
}

